* {
  padding: 0;
  margin: 0;
}
.wrapper video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  position: relative;
  z-index: 1;
}
span {
  color: #fabd02;
}
.nav {
  width: 85%;
  height: 15%;
  margin: auto;
  align-items: center;
}
.navigation {
  padding-top: 30px;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(0 0 0 / 30%);
}
.navbar-right {
  float: right;
  padding-right: 10%;
}
span a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.navbar-right a {
  text-decoration: none;
  padding: 10px;
  color: #fff;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-weight: 900;
}
.sign-up a {
  position: absolute;
  bottom: 50%;
  left: 30%;
  color: white;
  text-decoration: none;
  font-size: 35px;
}
.space a {
  color: white;
  text-decoration: none;
}
span a:hover {
  box-shadow: inset 120px 0 0 0 #fabd02;
}
.navbar-right a:hover,
.login a:hover {
  box-shadow: inset 100px 0 0 0 #fabd02;
}
.navbar-logo {
  padding-left: 10%;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.wrapper {
  z-index: -100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.sign-up {
  display: contents;
}
/* Login page css */
.bg-img {
  background: url("../media/travel.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.bg-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0 0 0 / 70%);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  padding: 60px 32px;
  background: rgb(255 255 255 / 7.5%);
  box-shadow: -1px 4px 28px 0;
}
.content header {
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px;
}
.field {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgb(255 255 255 / 7.5%);
}
.field input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: #222;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}
.space,
.space:hover a {
  margin-top: 20px;
  display: inline;
  text-align: left;
  text-decoration: none;
  color: red;
}
input[type="submit"] {
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}
.login {
  color: white;
  margin: 20px 0;
  font-family: Poppins, sans-serif;
}
.link {
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px;
}
.github,
.vk {
  width: 100%;
  height: 100%;
  line-height: 45px;
  margin-top: 10px;
  background-color: rgb(17 14 14 / 80%);
  border: 1px solid black;
}
.vk {
  background-color: rgb(0 120 255 / 25500%);
}
.register-now,
.login-now {
  color: white;
  padding: 10px;
}